#logo{
  
  border-radius: 50%;
}
#bar{
  height: 500px;
  
}

#bar img{
  width:100%;
  height: 100%;
}


.hide {
  color:red;
  background: url(./img/slide/slide2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.row-section1{
  background-color: red;
  min-height: 300px;

}
.upcoming{
  color: white;
  font-size: large;
  padding-left: .7em;
  font-weight:700;
}
.event-bg-color{
  background-color: #163C55;
}

.upcoming_event i{
  width:.5em;
  height: 1.5em;
  color: aliceblue;
}
.upcoming_event{
  font-size:1.5em;
}
.event-list{
  font-size: 16px;
}
.event-list p{
  font-weight: bold;
  color: white;
}
.event-list a{
  text-decoration: none;
  font-weight: 400;
  color: #D1DAE0;;
}
.covid{
  color: white;
  font-size: 1.5em;
}
.section3 p{
  font-size: .9em;
  color:white
}
.section-3-heading{
  background-color:#DF7B47;
}
.section-3-body{
  background-color:#E29268;

}